@import '../../style.scss';

.post {
  &__box {
    padding: 10px 0px;
    border-bottom: 1px solid $border;

    a {
      text-decoration: none;
    }

    .post__boxProfile {
      text-decoration: none;
      padding: 0px 10px;
    }

    .post__boxProfileIcon,
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
      color: $white;
    }

    .post__boxContent {
      display: block;
      font-weight: 500;
      padding: 10px 0;
      color: $white;
    }
  }

  &__flex {
    display: flex;
    gap: 4px;
    align-items: center;
  }

  &__email,
  &__createdAt {
    font-size: 12px;
    color: $grayText;
  }

  &__boxFooter {
    padding: 0 16px;
    margin-top: 10px;
    font-size: 14px;
    display: flex;
    gap: 8px;
    flex-direction: row-reverse;

    button {
      @extend .button;
      font-size: 12px;

      &.post__delete {
        background-color: $danger;

        &:hover,
        &:focus {
          background-color: $dangerDark;
        }
      }

      &.post__edit {
        background-color: $gray;

        a {
          background-color: transparent;
          color: $white;
        }

        &:hover,
        &:focus {
          background-color: $grayDark;
        }
      }

      &.post__likes,
      &.post__comments {
        @extend .post__flex;
        background-color: $background;
        font-size: 14px;

        &:hover,
        &:focus {
          color: $gray;
        }
      }
    }
  }
}
