@import '../../style.scss';
@import '../../pages/home/Home.module.scss';

.profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px 16px;
  border-bottom: 1px solid $border;

  &__userBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
    margin-bottom: 20px;
  }

  &__img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
  }

  &__imgIcon {
    width: 120px;
    height: 120px;
    margin-right: 20px;
  }

  &__userInfo {
    display: flex;
    justify-content: space-between;

    &__container {
      width: 330px;
    }
  }

  &__userName {
    font-weight: 700;
    font-size: 20px;
  }

  &__userEmail {
    font-size: 15px;
  }

  &__btn {
    @extend .button;
    background-color: $primaryColor;
    width: 90px;
    height: 30px;
    font-size: 12px;
  }

  &__userFollower {
    display: flex;
    gap: 9px;
    font-size: 18px;
  }
}

@include xsMobile {
  .profile {
    &__userBox {
      width: 300px;
    }

    &__img,
    &__imgIcon {
      width: 50px;
      height: 50px;
    }

    &__userInfo__container {
      width: 100px;
    }

    &__userName,
    &__userEmail {
      font-size: 13px;
    }

    &__btn {
      width: 80px;
      height: 30px;
      font-size: 11px;
    }
  }
}

@include mobile {
  .profile {
    &__userBox {
      width: 300px;
    }

    &__img,
    &__imgIcon {
      width: 50px;
      height: 50px;
    }

    &__userInfo__container {
      width: 100px;
    }

    &__userName,
    &__userEmail {
      font-size: 13px;
    }

    &__btn {
      width: 80px;
      height: 30px;
      font-size: 11px;
    }
  }
}

@include tablet {
  .profile {
    &__userBox {
      width: 660px;
    }

    &__userInfo__container {
      width: 400px;
    }

    &__img,
    &__imgIcon {
      width: 100px;
      height: 100px;
    }
  }
}
