@import '../../style.scss';

.home {
  width: 600px;
  border-right: 1px solid $border;
  height: 100vh;
  z-index: 1;
  backdrop-filter: blur(12px);

  &__title {
    background-color: transparent;
    width: 90%;
    padding: 16px;
    font-weight: 700;
    font-size: 20px;
  }

  &__tabs {
    display: flex;
    height: 53px;
    border-bottom: 1px solid $border;

    .home__tabActive {
      font-weight: 700;
      border-bottom: 3px solid $activeBorder;
    }
  }

  &__tab {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    font-size: 15px;
  }
}

.search {
  display: flex;
  flex-direction: column;

  &__div {
    height: 42px;
    display: flex;
    align-items: center;
    margin-top: 6px;
    margin-bottom: 30px;
    position: relative;

    .search__icon {
      position: absolute;
      left: -225px;
      font-size: 24px;
      color: $white;
      width: 500px;
      z-index: 1;
    }
    .search__input {
      position: fixed;
      width: 350px;
      background-color: $textarea;
      border-radius: 21px;
      display: flex;
      align-items: center;
      padding: 10px 10px 10px 40px;
      font-size: 16px;
      border: none;
    }
  }

  &__post {
    width: 350px;
    height: 60px;
    padding: 12px;
    border-radius: 21px;
    background-color: $textarea;
  }
}
