@import '../../style.scss';

.home {
  width: 600px;
  border-right: 1px solid $border;
  height: 100vh;
  z-index: 1;
  backdrop-filter: blur(12px);

  &__title {
    background-color: transparent;
    width: 90%;
    padding: 16px;
    font-weight: 700;
    font-size: 20px;
  }

  &__tabs {
    display: flex;
    height: 53px;
    border-bottom: 1px solid $border;

    .home__tabActive {
      font-weight: 700;
      border-bottom: 3px solid $activeBorder;
    }
  }

  &__tab {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    font-size: 15px;
  }
}
