@import '../../style.scss';

.container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
}

.left__section__wrapper {
  width: 275px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid $border;
}

.left__section {
  display: flex;
  justify-content: center;
}

.left__sectionFixed {
  position: fixed;
  top: 0;
}

.logoPill {
  margin-bottom: 20px;
}

.right__section {
  width: 990px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

@include xsMobile {
  .left__section__wrapper {
    width: 72px;
  }
  .left__section {
    padding: 0;
    margin-bottom: 10px;
    margin-left: 10px;
  }

  .left__sectionFixed {
    display: none;
  }

  .right__section {
    width: 300px;
  }

  .logoPill {
    img {
      width: 40px;
      height: 40px;
    }
  }
}

@include mobile {
  .left__section__wrapper {
    width: 72px;
  }
  .left__section {
    padding: 0;
    margin-bottom: 10px;
  }

  .logoPill {
    img {
      width: 50px;
      height: 50px;
    }
  }

  .right__section {
    width: 300px;
  }
}

@include tablet {
  .left__section__wrapper {
    width: 72px;
  }
  .left__section {
    margin-bottom: 10px;
  }

  .right__section {
    width: 660px;
  }
}
