@import '../style.scss';

.navPill {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 12px;
  // margin-left: 90px;
  border-radius: 30px;
  margin-bottom: 10px;
  font-size: 22px;
  color: $white;
  cursor: pointer;

  &:hover {
    color: $grayText;
  }
}

.navIcon {
  margin-right: 10px;
}

nav {
  margin-top: 20px;
  padding: 20px 0;

  li {
    list-style-type: none;
    margin-top: 5px;
  }

  a {
    text-decoration: none;
    color: black;
  }
}
