@import '../style.scss';

.navPill {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 12px;
  border-radius: 30px;
  margin-bottom: 10px;
  font-size: 22px;
  color: $white;
  cursor: pointer;

  &:hover {
    color: $grayText;
  }
}

.navIcon {
  margin-right: 10px;
}

nav {
  position: fixed;
  top: 30px;
  margin-top: 20px;
  padding: 20px 0;

  li {
    list-style-type: none;
    margin-top: 5px;
  }

  a {
    text-decoration: none;
    color: black;
  }
}

@include xsMobile {
  .navPill__text {
    display: none;
  }

  .navPill {
    justify-content: flex-end;
  }
}

@include mobile {
  .navPill__text {
    display: none;
  }

  .navPill {
    justify-content: flex-end;
  }
}

@include tablet {
  .navPill__text {
    display: none;
  }

  .navPill {
    justify-content: flex-end;
  }
}
