$background: #000000;
$activeBg: #3c495f5f;
$border: #708090;
$white: #ffffff;
$primaryColor: #1c9bf1;
$activeBorder: #1a8cd8;
$grayText: #9ca3af;
$danger: #dc2626;
$dangerDark: #dc26268e;
$gray: #6b7280;
$grayDark: #4c515b;
$textarea: #121212;

$font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

.button {
  padding: 0.2rem 0.8rem;
  border-radius: 999px;
  font-size: 15px;
  line-height: 1.25rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  color: $white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

  &:disabled {
    opacity: 0.5;
  }
}
