$background: #000000;
$activeBg: #3c495f5f;
$border: #708090;
$white: #ffffff;
$primaryColor: #1c9bf1;
$activeBorder: #1a8cd8;
$grayText: #9ca3af;
$danger: #dc2626;
$dangerDark: #dc26268e;
$gray: #6b7280;
$grayDark: #4c515b;

$font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
